{% extends 'base.html '%}

{%block content %}

<center>
    <div class= "row">
        <div class= "col-md-6">
            <div class = "card card-body">

            <h2>Customer: {{customer.name}} </h2>
            <hr>
                <form method= 'POST'>
                    {% csrf_token %}
                    {{ formset.management_form }}
                        {% for form in formset%}
                            {{form}}
                            <hr>
                        {% endfor %}
                    <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>
<center>

{% endblock %}