#logo{
<<<<<<< HEAD
    height:30px;
    width:24px;
}

=======
    height:40px;
    width:30px;
}
>>>>>>> master
body{
    background-color: #ebeff5;
}

#total-orders{
    background-color: #ecb4c7;
}

#orders-delivered{
    background-color: #7abecc;
}
#orders-pending{
    background-color: #7CD1C0;
}
